* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("../fonts/Comfortaa-Bold.ttf");
}

.digital {
    font-family: 'Comfortaa';
}   


html,
body,
.wrapper {
    height: 100%;
}

h1 {
    font-family: 'Comfortaa';
}
h2,
h3,
h4,
h5,
P,
a{
    font-family: 'Comfortaa';
}

@keyframes rotate {
    100% {
        background-position: 15% 50%;
    }
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("../img/carousel-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comfortaa";
    color: #000;
    animation: rotate 5s infinite alternate linear;
    -webkit-animation: rotate 5s infinite alternate linear;
}

@media (width >=500px) {
    body {
        padding: 0;
    }
}

.login-card {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 35px 30px 10px;
    border-radius: 1.25rem;
    background: rgb(255, 255, 255);
    text-align: center;
}

@media (width >=500px) {
    .login-card{
        margin: 0;
        width: 500px;
    }
}

.login-card>h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}

.login-card>P {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form>input,
.login-form>select,
.login-form>button {
    width: 100%;
    height: 56px;
}

.login-form>input {
    border: 2px solid #ebebeb;  
    font-family: 'Comfortaa';
    font-size: 16px;
    padding: 0 16px;
}

#tipe {
    border: 2px solid #ebebeb;  
    font-family: 'Comfortaa';
    font-size: 16px;
    padding: 8px;
}

#tipes {
    font-size: 18px;
}

.login-form>button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #065767;
    color: #f9f9f9;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }